-----
:title: ! 'Tag: qt'
:type: page
:feed: /tags/qt/
:feed_title: Tag 'qt'
:permalink: qt
-----

%p 
    3 items are tagged with <em>qt</em>:
%ul
    - articles_tagged_with('qt').each do |a| 
        = render 'dated_article', :article => a
    
