---
title: Leo's Blog
---
-# Front page of blog w/ latest x articles
- all_articles = latest_articles.length
- latest = latest_articles 6

- latest.each do |article|
    = render( 'article_embedded', :item => article, :extended => true ) do
        = article.compiled_content( :snapshot => :pre )
