---
title: Leo's Blog
---
/ Front page of blog w/ latest x articles
- all_articles = latest_articles.length
- latest = latest_articles 6

#blog
    - latest.each do |article|
        = render 'article_embedded', :item => article, :classes => "hyphenate", :extended => true