-----
:title: ! 'Archive: October 2012'
:kind: page
:permalink: october-2012
-----

%p
    1 article was written in <em>October 2012</em>
%ul
    - articles_by_month.select{ |i| i[0] == "October 2012"}[0][1].each do |a|
        = render 'dated_article', :article => a
    
