@import "blueprint/reset";

$imgs: "/images";

$title-font: 'Open Sans Condensed', sans-serif;
$title-color: #303030;

$header-font: 'Gilda Display', serif;
$header-color: #666;
$header-onhover-color: #303030;

$body-font: 'Gilda Display', serif;
$body-color: #111111;
$body-font-size: 1.2em;;

$link-color: darker(#666);
$link-onhover-color: darker(#303030);

// font-family: 'Poiret One', cursive;
// font-family: 'Tienne', serif;
