@import "blueprint/reset";

$imgs: "/images";

$title-font: 'Open Sans Condensed', sans-serif;
$body-font: 'Gilda Display', serif;
$header-font: 'Poiret One', cursive;
$header-color: #666;

// font-family: 'Poiret One', cursive;
// font-family: 'Tienne', serif;
