@import "base";
@import "compass";

body {
  background-image: url($imgs + "/light_noise_diagonal.png");
}

a {
  text-decoration: none;
  color: $header-color;

  &:hover {
    color: $header-onhover-color;
  }
}

#header {
  text-align: center;

  font-family: $title-font;

  h1 {
    font-size: 80px;
    margin: 0px;

    color: $title-color;
  }
}

$navheader-height: 40px;
$navheader-width: 250px;

#nav {
  margin-left: auto;
  margin-right:auto;

  height: $navheader-height;
  width: $navheader-width;

  font-family: $title-font;
  font-size: 24px;

  ul {
    margin: 0px;
    padding: 0px;

    list-style-type: none;

    li {
      display: inline;
      float: left;

      margin-left: 20px;
      height: 40px;
    }
  }
}

#nav-separator {
  border: 0;
  margin: 0;
  padding: 0;

  height: 1px;
  width: 100%;

  @include background-image(linear-gradient(left, rgba(0,0,0,0), 
                                                  rgba(0,0,0,0)    38%, 
                                                  rgba(0,0,0,0.65) 50%, 
                                                  rgba(0,0,0,0)    59%, 
                                                  rgba(0,0,0,0)));
}

#content {
  font-family: $body-font;
  font-size: $body-font-size;
  color: $body-color;
}

#about {
  width: 350px;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

#article {
  width: 700px;

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  #title {
    text-align: center;

    font-family: $header-font;
    font-size: 18px;
  }

  #article-header {
    text-align: center;
    font-size: 12px;
  }

  #article-body {
    margin-top: 20px;
  }
}