- author = @item[:author] || "Leo Franchi"
#article
    #article-header
        %h1#title
            %a{href:permalink_for_article(@item)}
                = @item[:title]
        #date
            %time{datetime:@item[:created_at].strftime("%Y-%m-%d"), pubdate:"pubdate"}
                = @item[:created_at].strftime("%A, %B %d %Y")
    #article-body
        = yield