%li
    %a{href: "/articles/#{@article.attributes[:permalink]}"}= @article.attributes[:title]
    %span#timeago{title:"#{@article.attributes[:created_at].to_iso8601_time}"}= @article.attributes[:created_at].strftime("%A, %d %B %Y")