!!!html
%head
  %meta{charset: "utf-8"}
  %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}

  %title= @item[:title]
  %link{rel: "stylesheet", type: "text/css", href: "/style.css", media: "screen"}
%body
  #header
    %h1 Leo Franchi
  #main
    = yield
  #nav
    %ul
      %li 
        %a{href: "/blog.html"} Blog
      %li 
        %a{href: "/projects.html"} Projects
      %li
        %a{href: "/about.html"} About