!!!html
%head
  %meta{charset: "utf-8"}
  %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}

  %title= @item[:title]
  %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Gilda+Display|Poiret+One|Tienne|Open+Sans+Condensed:300"}
  %link{rel: "stylesheet", type: "text/css", href: "/style/screen.css", media: "screen"}
%body
  #header
    %h1 Leo Franchi
  #nav
    %ul
      %li 
        %a{href: "/blog/"} Blog
      %li 
        %a{href: "/projects/"} Projects
      %li
        %a{href: "/"} About
  %hr#nav-separator
  #content
    = yield
-# Tracking code
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33371955-1']);
  _gaq.push(['_setDomainName', 'lfranchi.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();